.bouton{
    border: 0;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    cursor: pointer;
    transition-duration: .25s;
    margin-bottom: 8vh;
    font-weight: bold;
    margin-top: 5px;

    &:hover {
        background-color: white;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
      }

    
      
    
}

.bouton span {
  font-size: 1em;
}

.conteneur__bouton{
  margin: 50px auto;
}
