.footer{
    background-color: #353535;
    

&__logo{
    color: white;
    font-size: 1.2rem;
    font-family: Shrikhand, "cursive";
    margin: 5px 0px 3px 6px;
}

&__liste{
    list-style-type: none;
    color: white;
    

    
}

&__link{
    color: white;
    
}

&__conteneur{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

&__listeMlk{
    margin: 1rem 0 ;
}
    
}

.fa-utensils:before{
    margin-right: 0.9rem;
}

.fa-hands-helping:before{
    margin-right: 0.9rem;
}







